*.DS_Store
*.class
*.swp

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/library-app/library-model/nbproject/
/library-app/library-model/target/
/library-app/target/
/library-app/library-resource/nbproject/
/library-app/library-resource/target/
/library-app/library-integration-tests/target/
/library-app/library-resource-war/target/
/library-app/library-ear/target/